.hud-display {
  position: absolute;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.current-song {
  width: 100px;
  height: 130px;
  margin: 15px;
  background-color: rgb(170, 233, 198);
}

.next-song {
  width: 100px;
  height: 130px;
  margin: 15px;
  background-color: rgb(233, 170, 180);
}

h4,
p {
  background-color: transparent;
}
