* {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}

.Main {
  background: url("../assets/background.jpeg") no-repeat center center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  float: left;
}
