* {
  margin: 0;
  padding: 0;
}

.Main {
  background: url("../assets/background.jpeg") no-repeat center center fixed;
  background-size: 100%;
  width: 100%;
  height: 100vh;
}

.sky {
  /* width: 100%;
  height: 200px;
  background-color: aquamarine; */
}
