.song {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: rgb(170, 233, 198);
  z-index: 2;
  text-align: center;
}

.box-select {
  position: absolute;
  width: 90px;
  height: 700px;
  background-color: rgb(151, 176, 249, 0.2);
  z-index: 1;
}
